.top-box {
    width: 100%;
    height: 150px;
    display: flex;
    margin: 0 auto;
    position: relative;
    background-color: #0d1114;
    background-size: cover;
}

.title {
    color: #ffc100;
    font-size: 75px;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 45px;
    text-decoration: none;
}

.logo {
    height: 55px;
    width: 55px;
    margin-left: 640px;
    margin-top: 45px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.logo:hover {
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

.menu-box {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 125px;
    margin-left: 170px;
}

.menu {
    display: flex;
}

.space {
    padding-left: 30px;
    cursor: pointer;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.space:hover {
    margin-top: -5px;
    color: #ffc100;
}

.home-page {
    text-decoration: none;
    color: white;
}
.home-page:hover {
    margin-top: -5px;
    color: #ffc100;
}

.line {
    background-color: white;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: -2px;
}

/**/

.slider {
    display: flex;
    position: relative;
    background: url(../images/back2.jpg) fixed no-repeat;
    background-size: cover;
}

.bar {
    background-color: white;
    height: 5px;
    width: 200px;
    border-radius: 5px;
    position: absolute;
    top: -2px;
    left: 728px;
}

.movies {
    margin: 25px auto;
}

.movie-one {
    height: 700px;
    width: 500px;
    border: 2px solid white;
    -webkit-transition: .3s;
    transition: .3s;
}
.movie-one:hover {
    border: 2px solid #ffc100;
}

.movie-two {
    height: 700px;
    width: 500px;
    display: none;
    border: 2px solid white;
    -webkit-transition: .3s;
    transition: .3s;
}
.movie-two:hover {
    border: 2px solid #ffc100;
}


.movie-three {
    height: 700px;
    width: 500px;
    display: none;
    border: 2px solid white;
    -webkit-transition: .3s;
    transition: .3s;
}
.movie-three:hover {
    border: 2px solid #ffc100;
}


#left-arrow {
    margin: auto 150px;
    cursor: pointer;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

#left-arrow:hover {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
}

#right-arrow {
    margin: auto 150px;
    cursor: pointer;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

#right-arrow:hover {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
}

.second-bar {
    background-color: white;
    height: 5px;
    width: 200px;
    border-radius: 5px;
    position: absolute;
    top: 99.8%;
    left: 728px;
}

/**/

.exclusive {
    display: flex;
    background-color: #0d1114;
}

.title-second-box {
    color: white;
    text-transform: uppercase;
    font-size: 45px;
    position: absolute;
    top: 98.5%;
    left: 50%;
    transform: translateX(-50%);
}

.exclu-box {
    margin-top: 110px;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
}

.items-one {
    height: 400px;
    width: 300px;
    border: 2px solid white;
    cursor: pointer;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.items-one:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    border: 2px solid #ffc100;
}

.tit-one {
    color: #ffc100;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

.description-one {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bo-1 {
    border: 2px solid #31566e;
}

.time-list-one {
    color: white;
    margin-top: 10px;
    margin-bottom: 5px;
}

.time-one_one {
    color: white;
    margin-bottom: 5px;
    cursor: pointer;
}

.time-one_one:hover {
    color: #ffc100;
}

.time-two_one {
    color: white;
    cursor: pointer;
}

.time-two_one:hover {
    color: #ffc100;
}

.items-two {
    height: 400px;
    width: 300px;
    border: 2px solid white;
    cursor: pointer;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.items-two:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    border: 2px solid #ffc100;
}

.tit-two {
    color: #ffc100;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

.description-two {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bo-2 {
    border: 2px solid #31566e;
}

.time-list-two {
    color: white;
    margin-top: 10px;
    margin-bottom: 5px;
}

.time-one_two {
    color: white;
    margin-bottom: 5px;
    cursor: pointer;
}

.time-one_two:hover {
    color: #ffc100;
}

.time-two_two {
    color: white;
    cursor: pointer;
}

.time-two_two:hover {
    color: #ffc100;
}

.items-three {
    height: 400px;
    width: 300px;
    border: 2px solid white;
    cursor: pointer;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.items-three:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    border: 2px solid #ffc100;
}

.tit-three {
    color: #ffc100;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

.description-three {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bo-3 {
    border: 2px solid #31566e;
}

.time-list-three {
    color: white;
    margin-top: 10px;
    margin-bottom: 5px;
}

.time-one_three {
    color: white;
    margin-bottom: 5px;
    cursor: pointer;
}

.time-one_three:hover {
    color: #ffc100;
}

.time-two_three {
    color: white;
    cursor: pointer;
}

.time-two_three:hover {
    color: #ffc100;
}

/**/

.places {
    background-color: #0d1114;
    margin-top: -35px;
}

#number {
    background-color: white;
    border: none;
    color: #31566e;
    padding: 10px;
    font-size: 12px;
    margin-left: 690px;
}

.valid-button {
    padding: 10px 30px;
    background-color: #31566e;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    margin-left: 10px;
    cursor: pointer;
}

.valid-button:hover {
    background-color: white;
    color: #31566e;
    border: 1px solid #31566e;
}

.box-money {
    display: flex;
}

#result {
    background-color: white;
    border: none;
    color: #31566e;
    padding: 10px;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 690px;
    margin-bottom: 30px;
}

.money {
    color: white;
    margin-top: 18px;
    margin-left: 10px;
    font-size: 20px;
}

.unite {
    color: #ffc100;
    text-align: center;
    font-size: 15px;
}

.txt-reservation {
    color: white;
    margin-left: 690px;
}


.reservation {
    background-color: #0d1114;
}

.end {
    margin-left: 775px;
    padding: 10px 30px;
    margin-bottom: 20px;
    background-color: #31566e;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
}

.end:hover {
    background-color: #ffc100;
    color: white;
    border: 1px solid white;
}

.end-txt {
    color: #ffc100;
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
}

.info {
    display: none;
}

.info-second {
    display: none;
}

/**/

.footer {
    background-color: #0d1114;
    padding-top: 50px;
}

.split {
    background-color: white;
    height: 2px;
    width: 100%;
}

.transition-img {
    position: relative;
    top: -29px;
    left: 50%;
    transform: translateX(-50%);
    height: 54px;
    width: 54px;
}

.rs-box {
    margin-left: 750px;
    margin-top: 50px;
}

.fb {
    height: 70px;
    width: 70px;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.fb:hover {
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
}

.tw {
    height: 70px;
    width: 70px;
    margin-left: 20px;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.tw:hover {
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
}

.footer-box {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

.news-box {
    position: relative;
    left: 120px;
}

.news {
    color: white;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
}

.news-info {
    color: rgb(156, 156, 156);
    font-size: 18px;
    padding-top: 10px;
    line-height: 30px;
}
.news-info:hover {
    cursor: pointer;
}


.citys-box {
    position: relative;
    left: 60px;
}

.citys {
    color: white;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
}

.citys-info {
    color: rgb(156, 156, 156);
    font-size: 18px;
    padding-top: 10px;
    line-height: 30px;
}
.citys-info:hover {
    cursor: pointer;
}

.appli-box {
    position: relative;
    left: -50px;
}

.appli {
    color: white;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
}

.appli-info {
    color: rgb(156, 156, 156);
    font-size: 18px;
    padding-top: 10px;
    line-height: 30px;
}

.download {
    flex-wrap: wrap;
    justify-content: space-between;
    height: 250px;
    width: 250px;
}

.apple {
    height: 60px;
    width: 200px;
    margin-top: 30px;
    border: 1px solid #ffc100;
    border-radius: 10px;
}

.android {
    height: 60px;
    width: 200px;
    margin-top: 20px;
    border: 1px solid #ffc100;
    border-radius: 10px;
}

/**/

.final {
    background-color: #0d1114;
}

.white-bar {
    height: 2px;
    background-color: white;
    width: 100%;
}

.final-title {
    color: #ffc100;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
}

.gear {
    color: #ffc100;
    font-size: 35px;
}